/* Body */
body{
    background-color: darkgreen; 
}
/* Navbar */
.navbar{
    max-height: 57px; 
}
.navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: darkgreen; 
    font-size: 20px; 
}

.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:white!important; 
}
.dropdown-item{
    color: white !important; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:white !important; 
}
a{
    color: white;
    font-size: 20px; 
}
.nav-link:hover{
    background-color:darkgreen !important;
}
.navbar-brand:hover{
color: rgb(175, 175, 175) !important;
}
/* Images Cause map not working
img{
    width:100% !important;
    height:100% !important;
}*/
.active, .panel:hover{
    border-color: darkgreen;
    border-style: solid; 
    
}
.vizualization{
    width:50% !important;
    height:50% !important;
}
/* Title Class  */
.title{
    color: darkgreen;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
.display-4{
    color: whitesmoke;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px;     
}
/* Paragraph Element */
p{
 color: whitesmoke;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px; 
}

/* Unordered List Elements */
ul{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
   }
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:whitesmoke;
    background-color: lightslategray; 

  }
.card{
    background-color: lightslategray;   
}
/* Table */
.table{
    font-size: 15px; 
    border-top-color: white !important; 
}
/* Footer */
footer{
background-color: gray; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: darkgreen;
color: whitesmoke; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color: darkgreen;  
}
.navbar-brand{
    padding: 10px !important; 
}
button{
    margin-right: 30px; 
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;  
}


.aText {
    font-family: sans-serif;
    font-size: 16px;
    text-anchor: middle;
}
      
.active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}
      
.inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}
      
.inactive:hover {
    fill: #000;
    cursor: pointer;
}
      
/* font size dependent on radius, see app.js */
.stateText {
    font-family: sans-serif;
    fill: #fff;
    text-anchor: middle;
}
      
.stateCircle {
    fill: #89bdd3;
    stroke: #e3e3e3;
}
      
.chart {
    display: block;
    margin: 0;
}
      
.d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}
      
/* Mobile Rules */
@media screen and (max-width: 530px) {
        .stateText {
          display: none;
        }
      
        .aText {
          font-size: 14px;
        }
}
      
@media screen and (max-width: 400px) {
        .aText {
          font-size: 13px;
        }
}
    
.iframeContainer {
    padding: 20px;
    border: 1px solid #e3e3e3;
}
 
      
.axis path,
  .axis line {
        fill: none;
          stroke: black;
          shape-rendering: crispEdges;
      }
  .axis text {
          font-family: sans-serif;
          font-size: 11px;
      }
      
.tooltip {
        position: absolute;
        width: 135px;
        height: 60px;
        padding: 2px;
        padding-top: 8px;
        font: 12px sans-serif;
        color: white;
        text-align: center;
        background: #551aaf;
        border: 0;
        border-radius: 10px;
}