<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>US Energy & Emissions Analysis</title>

    <!-- Bootstrap Styling -->
    <!-- Link to Bootstrap - https://getbootstrap.com/docs/4.3/getting-started/download/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- CSS styleSheet link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Section: Navigation -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" style="background-color: darkgreen;" href="/">Home</a>
            <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: white; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;" >Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="bargraph">Bar Graphs</a>
                        <a class="dropdown-item" href="linegraph">Line Graphs</a>
                        <a class="dropdown-item" href="heatmap">Heat Map</a>
                        <a class="dropdown-item" href="scatter">Scatter Plot</a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
    </div>
<!-- Section: Header Image -->
<div class="container">
    <div class="jumbotron text-center" style="background-image: url(static/img/energyProjectBanner.jpg); background-size: 100%; height: 100%;">
        <h1 class="display-4">US Energy & Emissions Analysis</h1>
    </div>
    <!-- Section: Content -->
    <div class="row">
        <div class="col-12">

            <div class="box" style="padding-bottom: 40px;">
                <h3 class="h3">Summary: Overview of Energy Analysis</h3>
                <hr>
                <p>Data is being gathered from the U.S. Energy Information Administration using their free API.  Database can be queried at the link below:</p>
                <a href = https://www.eia.gov/opendata/qb.php>EIA.gov Database</a>
                <br>
                <hr>
                <p>Focus is building charts around the below datasets:</p>
                    <ol>
                        <ul>- Electricty Total Average Price</ul>
                        <ul>- Energy Production Totals, consist of:
                            <ul>-Oil</ul>
                            <ul>-Gas</ul>
                            <ul>-Coal</ul>
                            <ul>-Nuclear</ul>
                            <ul>-Renewable Energy Sources</ul>
                        </ul>
                        <ul>- Renewable Energy Production Totals, consist of:
                            <ul>-Biomass</ul>
                            <ul>-Hydropower</ul>
                            <ul>-Geothermal</ul>
                            <ul>-Wind</ul>
                            <ul>-Solar</ul>
                        </ul>
                        <ul>- Resident Populations</ul>
                        <ul>- Total CO2 Emissions All Source</ul>
                    </ol>
            </div>
        </div>
    </div>
    <hr>
<!-- Section: Card Links to all Other Pages -->
<div class="row justify-content-around mt-4">
    <div class="col-lg-2 col-sm-6">
        <a href="heatmap">
            <div class="card" style="width: 12rem;">
                <img src="static/img/Heatmap.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Heat Maps</h5>
                    <p class="card-text">Analysis of Energy Data using map of US along with markers for Total CO2 Emissions or Total Energy Production.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-sm-6">
            <a href="bargraph">
                <div class="card" style="width: 12rem;">
                    <img src="static/img/barchart.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bar Graphs</h5>
                        <p class="card-text">Analysis of Energy Data using streamgraph to quickly compare each state based on various metrics.</p>
                    </div>
                </div>
            </a>
    </div>
    <div class="col-lg-2 col-sm-6">
            <a href="linegraph">
                <div class="card" style="width: 12rem;">
                    <img src="static/img/LineGraph.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Line Graphs</h5>
                        <p class="card-text">Analysis of Energy Data using linegraphs to quickly visualize at a state level the four key energy metrics.</p>
                    </div>
                </div>
            </a>
    </div>
    <div class="col-lg-2 col-sm-6">
            <a href="scatter">
                <div class="card" style="width: 12rem;">
                    <img src="static/img/scatter.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Scatter Plots</h5>
                        <p class="card-text">Analysis of Energy Data using scatter plots allowing compare each state based on various metrics.</p>
                    </div>
                </div>
            </a>
    </div>
</div>  
</div>
        <!-- Adding a Footer section -->
        <footer>
            <div class="footer">2019 RutgersCodingBootcamp - Fernando, Feng, Omar, and Mike I.</div>
        </footer>
    </body>
</html>